@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500);

*{
	padding:0;
	margin:0;
}


a{
	text-decoration: none;
	color:white;
}
	a:hover{
		color:#999;
	}
p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

.wrap{
	font-family: "Ubuntu", sans-serif;
	color:white;
	font-size: 300%;
	letter-spacing:-2px;
	max-width: 750px;
	height: 150px;
	margin:180px auto 0px auto;

}

.type-wrap{
	padding:10px;
	margin:50px auto;
	/*
	
	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid; */
}
